name: Enable PR automerge

on:
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  pull-requests: write
  contents: write

jobs:
  automerge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Enable Pull Request Automerge
        env:
          GH_TOKEN: ${{ github.token }}   # nebo secrets.PAT
        run: gh pr merge --merge --auto "${{ github.event.pull_request.number }}"